body {
    margin: 0;
    background-color: rgb(235, 235, 235);
}

a {
    color: white;
    text-decoration: none;
}

#container {
    width: 100%;
}

#upBar{
    width: 100%;
    background-color: gray;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 30px;
    margin-bottom: 2%;
}

#logo {
    float: left;
    display: block;
    margin-left: 10px;
}

#search {
    width: 400px;
    background-color: white;
    color: gray;
    float: left;
    padding-left: 10px;
    margin-left: 100px;
    display: block;
}

#searchBtn {
    width: 30px;
    text-align: center;
    background-color: white;
    color: gray;
    float: left;
    padding: auto;
    margin-left: 5px;
    display: block;
    cursor: pointer;
}

#videoScreen {
    clear: both;
    width: 900px;
    height: 500px;
    background-color: rgb(83, 82, 82);
    background-image: url("video.jpg");
    margin-left: 5%;
    margin-right: 100px;
    color: rgb(172, 171, 171);
    position: relative;
}

#cinema {
    bottom: 10px;
    right: 80px;
    float: left;
    position: absolute;
    cursor: pointer;
    opacity: 1;
}

#fullScreen {
    bottom: 10px;
    right: 10px;
    float: left;
    position: absolute;
    cursor: pointer;
    opacity: 1;
}

#playPause {
    bottom: 10px;
    left: 10px;
    float: left;
    position: absolute;
    cursor: pointer;
    margin-right: 10px;
    opacity: 1;
}

#videoBar {
    background-color: black;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 40px;
    font-weight: bold;
    color: white;
    opacity: 0.75;
    margin-right: 100px;
}

#cinemaBg {
    float: left;    
}

#playOnScreen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: black;
    opacity: 0.8;
    text-align: center;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 20px #000;
    opacity: 0.8;
    text-align: center;
}

#description {
    clear: both; 
    overflow-y: hidden;
    margin-left: 50px; 
    white-space: pre; 
    width: 900px;
}

#showMore {
    clear: both; 
    overflow-y: hidden;
    margin-left: 50px; 
    white-space: pre; 
    width: 900px;
    cursor: pointer;
    font-weight: bold;
}

#simulator {
    position: absolute;
    font-size: 200px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#title {
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
}

#volumeControl {
    float: left; 
    position: absolute;
    bottom: 10px; 
    left: 70px;
}

#volumeValue {
    color:white;
    font-size: 30px;
    margin-left: 5px;
    margin-top: 5px;
}

#videoSettings {
    float: left; 
    position: absolute;
    bottom: 10px; 
    right: 175px;
    cursor: pointer;
    background-color: black;
}

#speedValue {
    float: left; 
    position: absolute;
    bottom: 10px; 
    right: 300px;
    background-color: white;
    color: black;
    width: 30px;
    text-align: center;
    font-size: 20px;
}

#changeSpeed {
    display: none;
}

#playlist {
    background-color:white;
    width: 410px;
    height: 500px;
    float: left;
    overflow-y: scroll;
    border: #000 1px solid;
    display: block;
}

.playlistVideo {
    background-color: rgb(231, 230, 230);
    width: 380px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size:  40px;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  textarea {
    width: 100%;
    height: 75px;
  }

  #comments {
    clear: both; 
    margin-left: 50px; 
    width: 900px;
  }

  #allComments {
      clear: both;
  }

  .comment {
      width: 100%;
      display: block;
      background-color: white;
      border:#000 solid 1px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px;
      white-space: pre-wrap;
      word-wrap: break-word;  
  }